.container {
    width: 50%;
    margin: 5% auto 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
.header {
    width: 100%;
    margin: 1% auto;
    text-align: center;
}
.but {
    background: cadetblue;
    outline: none;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 1%;
    border-radius: 3%;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    transition: .1s;
}
.but:active {
    opacity: 0.5;
}
.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.turns {
    margin-right: 5px;
}
.field {
    width: 100%;
    display: grid;
    padding: 1%;;
    grid-template: repeat(4, 8vw) / repeat(4, 8vw);
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
    transition: .3s ease-in-out;
}
.gem {
    width: 100%;
    font-size: 2vw;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background: yellow;
    outline: none;
    cursor: pointer;
}
.void {
    background: blanchedalmond;
}
.stop {
    background-color: black;
}
.info {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}
.info a {
    margin-right: 5px;
}

.active {
    text-decoration: none;
}
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    .but {
        font-size: 3.5vw;
    }
    .gem {
        font-size: 3.5vw;
    }
    .field {
        grid-template: repeat(4, 18vw) / repeat(4, 18vw);
    }
}
@media (max-width: 375px) {
    .container {
        width: 90%;
    }
    .but {
        font-size: 3.5vw;
    }
    .field {
        grid-template: repeat(4, 18vw) / repeat(4, 18vw);
    }
}